@import 'variables';

.grid {
	display: flex;
	flex-flow: row wrap;
	position: relative;

	margin: 5vw 10vw 0;
	@include media("<tablet") {
		margin: 0;
	}

	& > a {
		border: 1px solid black;
		border-radius: 12.5%;
		z-index: 0;
		margin: 1vw;

		overflow: hidden;
		position: relative;

		flex-basis: 30%;
		@include media("<tablet") {
			flex-basis: 100%;
		}

		&:before {
			content:'';
			float: left;
			padding-top: 100%;
		}

		&:hover {
			/*
			* don't need/want the animations on mobiles!
			*/
			@include media(">tablet") {
				& .piece-name {
					transform: none;
					opacity: 1;
				}

				& .piece-description {
					text-shadow: 	0 0 2px black;
					text-shadow: 	0 0 2px black,
									0 0 2px black,
									0 0 5px black,
									0 0 5px black;
					text-shadow: 	0 0 2px var(--color, black),
									0 0 2px var(--color, black),
									0 0 5px var(--color, black),
									0 0 5px var(--color, black);
					opacity: 0.7;
				}

				& .portfolio-thumbnail img {
					filter:
						blur(3px);
				}
			}
		}
	}
}

//
// PORTFOLIO THUMBNAILS & INDEX
//

.piece-name {
	position: absolute;
	font-size: 1.25em;
	height: 100%;
	width: 100%;

	background-color: rgba($blue, 0.75);
	color: #fff;
	
	transition: all 500ms ease-in-out;
	opacity: 0;
	transform:
		translateY(100%);

	/*
	* as hover doesn't exist on mobile,
	* set it so the name is shown as a thin banner
	* at the bottom of the square
	*/
	@include media("<tablet") {
		font-size: 1.5em;
		opacity: 1;
		height: auto;
		bottom: 0;
		transform: 
			translateY(0);
		border-top: 2px solid rgba(white, 0.5);
	}
	
	& > div {
		display: table;
		width: 100%;
		height: 100%;

		& > div {
			display: table-cell;
			vertical-align: middle;
		}
	}
}

.piece-description {
	text-anchor: middle;
	font-family: $serif;
	font-weight: bold;
	font-size: 3.4em;
	transition: all 500ms ease-in-out;
	fill: var(--color);
}

.piece-description-background {
	background-color: $pink;
	background-color: var(--background-color, $pink);
	position: absolute;
}

.portfolio-thumbnail > img {
	position: absolute;
	width: 100%;
	height: 100%;
	transition: all 500ms ease-in-out;
}