//
// VARIABLES
//

$serif: Georgia, Times, Times New Roman, serif;
$sans-serif: 'Century Gothic', CenturyGothic, Geneva, AppleGothic, sans-serif;
$monospace: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;

$pink: #fbe4ff;
$dark-pink: darken($pink, 20);
$blue: #6bafff;
$yellow: #ffffb8;