@import 'math';
@import 'include-media';
@import 'magnific-popup/main';

@import 'variables';
@import 'header';
@import 'portfolio';
@import 'blog';
@import 'prism';

//
// DEFAULT TAG STYLES
//

html {
	font-family: $sans-serif;
	font-weight: 500;
	font-size: large;
	overflow-y: scroll;
	font-variant:
		common-ligatures,
		discretionary-ligatures,
		historical-ligatures,
		contextual,
		oldstyle-nums;
	font-feature-settings: 
		'liga' 1,
		'dlig' 1,
		'hlig' 1,
		'calt' 1,
		'onum' 1;
}

body {
	background-color: $yellow;
}

p {
	line-height: 1.5em;
}

del {
	$color: $dark-pink;
	$width: 10%;
	$beginning: 50%;
	$end: 50% + ($width);
	background-size: 100% 100%;

	text-decoration: none;
	background-image: linear-gradient(
		transparent $beginning,
		$color $beginning,
		$color $end,
		transparent $end);
}

h1 {
	font-size: 3em;
	margin-bottom: 0.25em;

	&.exhibitions {
		font-size: 2em;
	}
}

form {
	& > div:not(:first-child):not(:last-child) {
		margin: 1em 0;
	}

	& label {
		font-size: 1.5em;
	}

	& .email {
		display: flex;
		flex-flow: row wrap;

		@include media(">tablet") {
			max-width: 60%;
			margin: 0 auto;
		}

		& > * {
			@include media("<tablet") {
				flex-basis: 100%;
			}
		}

		& label {
			padding-right: 0.5em;
		}

		& .email-input {
			flex-grow: 1;
		}

		& input[type=email] {
			font-family: $sans-serif;
			font-size: 1.25em;

			border: 1px solid black;
			border-radius: 1.25vw;

			padding: 0.2em 0.2em;

			width: 100%;

			&:focus {
				outline: 0px solid transparent;
				box-shadow: 0 0 0 3px $dark-pink;
			}
		}
	}

	& .checkboxes {
		display: flex;
		justify-content: space-around;
		align-items: center;

		@include media("<tablet") {
			flex-flow: row wrap;
		}

		& > div {
			flex-basis: 33%;
			@include media("<tablet") {
				flex-basis: 100%;
			}
		}
		
		& .form-description {
			margin-top: 1em;
			font-size: 1rem;
		}

		& input[type=checkbox] {
			opacity: 0;
			position: absolute;

			&:checked + label:before {
				background: $blue;
				color: white;
				content: '✔';
			}

			&:focus + label:before {
				outline: 0px solid transparent;
				box-shadow: 0 0 0 3px $dark-pink;
			}
		}

		& label {
			border: 1px solid black;
			border-radius: 1.25vw;
			margin: 0.5em;
			padding: 0.5em;
			background: $pink;

			position: relative;
			cursor: pointer;
			display: block;

			&:before {
				font-size: 1rem;
				content: '';
				background: #fff;
				border: 1px solid black;
				border-radius: 12.5%;
				display: inline-block;
				vertical-align: middle;
				width: 1.5em;
				height: 1.5em;
				padding: 2%;
				margin-right: 0.5em;
				text-align: center;
			}
		}
	}

	.big-button {
		button {
			display: inline-block;
			margin: 0;
			padding: 0 0.25em;

			font-family: $serif;
			font-size: 3em;
			font-style: italic;
			font-weight: bold;
			line-height: 2;
			min-width: 60%;
			
			border: 1px solid black;
			border-radius: 3vw;

			background: darken($blue, 10);
			transition: background 250ms;
			color: white;

			&:hover {
				@include media(">tablet") {
					background: $dark-pink;
				}
			}

			&:focus {
				outline: 0px solid transparent;
				box-shadow: 0 0 0 3px $dark-pink;
			}
		}
	}
}

//
// LAYOUTS
//

.row-flex {
	display: flex;
	justify-content: space-around;

	@include media("<tablet") {
		flex-flow: row wrap;
	}

	& > * {
		@include media("<tablet") {
			flex-basis: 100%;
			margin-bottom: 10vw;
		}
		flex: 1;
	}
}

//
// CLASSES
//

.left {
	text-align: left;
}

.center {
	text-align: center;
}

.right {
	text-align: right;
}

.serif {
	font-family: $serif;
}

.monospace {
	font-family: $monospace;
}

.narrow {
	width: 80%;
	margin: 0 auto;
}

.text, .title {
	margin-top: 1em;
	margin: auto;
	width: 80vw;
	max-width: 1200px;
	@include media("<tablet") {
		max-width: 90vw;
	}
}

.date {
	font-style: italic;
	font-variant: small-caps;
	@include media("<tablet") {
		font-size: 0.75em;
	}
}

.location {
	font-style: italic;
	@include media("<tablet") {
		text-align: right;
		font-size: 0.75em;
	}
}

.itchio {
	margin-top: 1em;
}

//
// LINKS
//

a {
	text-decoration: none;
	color: black;
	
	border-bottom: 2px solid $blue;

	transition: border-bottom-color 250ms ease-in-out;

	&:hover {
		border-bottom-color: $dark-pink;
	}
}

#links {
	@include media("<tablet") {
		font-size: 1.5em;
		line-height: 0.5;
	}

	margin: 0 20vw;
}

.sublinks {
	width: 60vw;
	max-width: 1000px;
	flex-flow: row wrap;

	margin: 2em auto;
	@include media("<tablet") {
		margin: 1em auto 1em;
		font-size: 1.5em;
	}

	& > * {
		flex-grow: 0;

		margin-bottom: 2.5vw;
		@include media("<tablet") {
			margin-bottom: 5vw;
		}
	}

	&.filter {
		@include media("<tablet") {
			width: 100%;
		}

		& > * {
			flex-basis: 20%;
			@include media("<tablet") {
				flex-basis: 50%;
			}
		}
	}
}

.hover-link {
	position: relative;
	border-bottom: none;

	@include media(">tablet") {
		&:hover:before {
			background-color: $dark-pink;
			transform:
				scaleX(1.1);
		}

		&.current:hover:before {
			transform:
				scaleX(0);
		}
	}

	&:before {
		content: "";
		position: absolute;
		width: 100%;
		height: 2px;
		bottom: -2px;
		left: 0;
		background-color: $blue;
		transform:
			scaleX(0);
		transition: all 500ms ease-in-out;
	}

	&.current {
		font-style: italic;

		&:before {
			transform:
				scaleX(1);
		}
	}
}

//
// OFFLINE
//
#offline {
	position: fixed;
	text-align: center;
	width: 100%;
	background-color: lighten($blue, 20);
	bottom: 0;
	left: 0;
	border-top: 10px solid $blue;
	box-shadow: 0 0 20px 0px black;
	z-index: 100;
	padding-top: 10px;
	visibility: hidden;

	& .stroke, .glitter {
		font-size: 200px;
		text-anchor: middle;
		dominant-baseline: central;
		font-family: $serif;
		letter-spacing: 50px;
	}

	& .stroke {
		fill: transparent;
		stroke: black;
		stroke-width: 4;
		@include media("<tablet") {
			stroke-width: 6;
		}
		stroke-linecap: round;
		stroke-linejoin: round;
		stroke-antialiasing: true;
	}
}

.offline-text {
	font-size: 5vw;
	text-align: center;
}

.offline-emoji {
	margin: 1em auto;
	max-width: 250px;
}