@import 'math';
@import 'include-media';
@import 'magnific-popup/main';

//
// VARIABLES
//

$serif: Georgia, Times, Times New Roman, serif;
$sans-serif: 'Century Gothic', CenturyGothic, Geneva, AppleGothic, sans-serif;

$pink: #fbe4ff;
$blue: #6bafff;
$yellow: #ffffb8;

//
// DEFAULT TAG STYLES
//

html {
	font-family: $sans-serif;
	font-weight: 500;
	font-size: 1.5em;
	overflow-y: scroll;
	font-variant:
		common-ligatures,
		discretionary-ligatures,
		historical-ligatures,
		contextual,
		oldstyle-nums;
	font-feature-settings: 
		'liga' 1,
		'dlig' 1,
		'hlig' 1,
		'calt' 1,
		'onum' 1;
}

body {
	animation: colorchange 60s infinite;
}

p {
	line-height: 1.5em;
}

pre {
	overflow: auto;
	font-family: 	monaco,
					Consolas,
					"Lucida Console",
					monospace;
	padding: 1em 0;

	&::-webkit-scrollbar {
		background-color: inherit;
	}
	&::-webkit-scrollbar-thumb {
		background-color: blue;
		border-radius: 100px;
	}
	&::-webkit-scrollbar-track {
		border: 1px solid red;
	}
}

//
// HEADER NAME
//

#callym {
	margin-bottom: -4vw;
	@include media("<tablet") {
		margin-bottom: 0;
	}

	& h1 {
		margin: inherit;
	}

	& .glitter {
		transition: all 500ms ease-in-out;
	}
	
	&:hover .glitter {
		opacity: 0.5;
	}

	& .stroke, .glitter {
		font-size: 400px;
		text-anchor: middle;
		dominant-baseline: middle;
		font-family: $serif;
		letter-spacing: 10px;

		& .extra-space {
			letter-spacing: 20px;
		}
	}

	& .stroke {
		fill: transparent;
		stroke: black;
		stroke-width: 5;
		@include media("<tablet") {
			stroke-width: 10;
		}
		stroke-linecap: round;
		stroke-linejoin: round;
		stroke-antialiasing: true;
	}
}

//
// LAYOUTS
//

.grid {
	display: flex;
	flex-flow: row wrap;
	position: relative;

	margin: 5vw 10vw 0;
	@include media("<tablet") {
		margin: 0;
	}

	& > * {
		border: 1px solid black;
		margin: 1vw;

		overflow: hidden;
		position: relative;

		flex-basis: 30%;
		@include media("<tablet") {
			flex-basis: 100%;
		}

		&:before {
			content:'';
			float: left;
			padding-top: 100%;
		}
	}
}

.row-flex {
	display: flex;
	justify-content: space-around;

	@include media("<tablet") {
		flex-flow: row wrap;
	}

	& > * {
		@include media("<tablet") {
			flex-basis: 100%;
			margin-bottom: 10vw;
		}
		flex: 1;
	}
}

//
// CLASSES
//

.center {
	text-align: center;
}

.text, .title {
	margin-top: 1em;
	margin: auto;
	width: 80vw;
	max-width: 1200px;
	@include media("<tablet") {
		max-width: 90vw;
	}
}

.text {
	& h1 {
		@include media("<tablet") {
			font-size: 100%;
		}
	}
}

.title {
	& > h1 {
		font-size: 300%;
	}
}

.date {
	font-style: italic;
}

//
// PORTFOLIO THUMBNAILS & INDEX
//

.piece-name {
	position: absolute;
	font-size: 9vw;
	height: 100%;
	width: 80%;

	background-color: rgba($blue, 0.75);
	color: #fff;
	font-family: $serif;
	padding: 0 10%;
	
	transition: all 500ms ease-in-out;
	opacity: 0;
	transform:
		translateY(15vw);

	/*
	* as hover doesn't exist on mobile,
	* set it so the name is shown as a thin banner
	* at the bottom of the square
	*/
	@include media("<tablet") {
		opacity: 1;
		height: auto;
		bottom: 0;
		transform: 
			translateY(0);
		border-top: 2px solid rgba(white, 0.5);
	}
}

.grid > *:hover {
	/*
	* don't need/want the animations on mobiles!
	*/
	@include media(">tablet") {
		& .piece-name {
			transform: none;
			opacity: 1;
		}

		& .piece-description {
			color: transparent;
			text-shadow: 0 0 10px rgba(black, 0.5);
		}

		& .portfolio-thumbnail img {
			filter: blur(2px);
		}
	}
}

.piece-description {
	text-align: center;
	font-family: $serif;
	font-weight: bold;
	font-size: 2.3em;
	margin: 0;
	width: 100%;
	height: 100%;
	transition: all 500ms ease-in-out;
}

.piece-description-background {
	background-color: $pink;
	position: absolute;
}

.portfolio-thumbnail > img {
	position: absolute;
	width: 100%;
	height: 100%;
	transition: all 500ms ease-in-out;
}

//
// LINKS
//

a {
	text-decoration: none;
	color: black;
}

#links {
	@include media("<tablet") {
		font-size: 1.5em;
		line-height: 0.5;
	}

	margin: 0 20vw;
}

.sublinks {
	margin: 2em auto;
	width: 50vw;
	@include media("<tablet") {
		margin: 1em auto 0;
	}
}

.hover-link {
	position: relative;

	@include media(">tablet") {
		&:hover:before {
			transform:
				scaleX(1.1);
		}

		&.current:hover:before {
			transform:
				scaleX(0);
		}
	}

	&:before {
		content: "";
		position: absolute;
		width: 100%;
		height: 2px;
		bottom: 0;
		left: 0;
		background-color: black;
		transform:
			scaleX(0);
		transition: all 500ms ease-in-out;
	}

	&.current {
		font-style: italic;

		&:before {
			transform:
				scaleX(1);
		}
	}
}

//
// OFFLINE
//
#offline {
	position: fixed;
	text-align: center;
	width: 100%;
	background-color: lighten($blue, 20);
	bottom: 0;
	left: 0;
	border-top: 10px solid $blue;
	box-shadow: 0 0 20px 0px black;
	z-index: 100;
	padding-top: 10px;
	visibility: hidden;

	& .stroke, .glitter {
		font-size: 200px;
		text-anchor: middle;
		dominant-baseline: central;
		font-family: $serif;
		letter-spacing: 50px;
	}

	& .stroke {
		fill: transparent;
		stroke: black;
		stroke-width: 4;
		@include media("<tablet") {
			stroke-width: 6;
		}
		stroke-linecap: round;
		stroke-linejoin: round;
		stroke-antialiasing: true;
	}
}

.offline-text {
	font-size: 5vw;
	text-align: center;
}

.offline-emoji {
	margin: 1em auto;
	max-width: 250px;
}

//
// KEYFRAMES
//

@keyframes colorchange {
	$colors-list:
		$yellow
		$pink;
	$len: length($colors-list);

	@for $i from 1 through $len {
		$perc: 100% / ($len - 1);
		#{$perc * (($i - 1) / 2)} {
			background: nth($colors-list, $i);
		}
	}
	@for $i from 1 through $len {
		$half: ($len - 1) / 2;
		$perc: 100% / ($len - 1);
		#{$perc * ($half + ($i - 1) / 2)} {
			background: nth($colors-list, $len - $i + 1);
		}
	}
}