html {
  height: 100%;
}

body {
  font-family: "Courier New", "Courier", "Lucida Sans Typewriter", "Lucida Typewriter", monospace;
  font-size: 1.125em;
  color: #DDA0DD;
  margin: 0;
  background: #222222;
  padding: 0;
  width: 100%;
  min-height: 100%;
}

.speech {
  font-family: Palatino,Palatino Linotype,Palatino LT STD,Book Antiqua,Georgia,serif;
  font-weight: lighter;
  font-style: italic;
  margin-left: 2em;
}

a {
  color: #7FFFD4;
  text-decoration: none;
}

p {
  margin-top: 15px;
  margin-bottom: 15px;
}

#panel {
  background-image: url(../images/column.png);
  background-color: #222222;
  background-repeat: repeat-y;
  z-index: 1;
  min-height: 100vh;
  width: 90vw;
  max-width: 700px;
  padding-left: 20px;
  position: relative;
}

#host {
  padding-left: 60px;
}

#title {
  font-size: 2em;
  font-weight: bold;
}

.toggle-button {
  cursor: pointer;
  font-size: 2.3em;
}

#interactionHost {
  z-index: 100;
  position: absolute;
  overflow: auto;
  padding: 3px;
  padding-left: 5px;
  margin: 0;
  border: 1px solid #DDA0DD;
  background-image: url(../images/interaction.png);
}
#interactionHost ul {
  display: block;
  margin: 0;
  padding: 0;
}
#interactionHost li {
  margin: 0;
  padding: 0;
  margin-right: 10px;
  list-style-type: none;
}

#inventoryHost,
#artistsHost {
  padding-left: 20px;
}
#inventoryHost ul,
#artistsHost ul {
  display: block;
  margin: 0;
  padding: 0;
}
#inventoryHost li,
#artistsHost li {
  list-style-type: none;
}
#inventoryHost li a,
#artistsHost li a {
  color: #7FFFD4;
}
#inventoryHost li a.activated,
#artistsHost li a.activated {
  font-style: italic;
}

#menu {
  background-color: #222222;
  z-index: 0;
}
#menu h2 {
  font-size: 1.5em;
  text-align: left;
  padding-left: 20px;
}

#story,
#footer,
#undoStageHost {
  display: none;
}

.slideout-menu {
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  z-index: 0;
  width: 256px;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  display: none;
}

.slideout-panel {
  position: relative;
  z-index: 1;
}

.slideout-open .slideout-menu {
  display: block;
}
